parameters:
    level: 8
    fileExtensions:
        - php
    paths:
        - Admin
        - Common
        - Controller
        - DependencyInjection
        - Entity
        - Repository
    ignoreErrors:
        -
            message: "#Casting to int something that\\'s already int.#"
            path: Common/DoctrineListRepresentationFactory.php
