parameters:
    level: 8
    fileExtensions:
        - php
    paths:
        - Admin
        - Common
        - Controller
        - DependencyInjection
        - Entity
        - Repository
    ignoreErrors:
        - "#Casting to int something that\\'s already int.#"
